  #wrapper {
    margin:auto;
    width:1440px;
    text-align: center;
  }
  input {
    width:50px;
  }
  
  #A{
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    height:350px;
    width:500px;
    margin:5px;
  }

  #B{
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    height:350px;
    width:500px;
    margin:5px;

  }


  #C{
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    height:390px;
    width:650px;
    margin:5px;
    overflow: visible;
  }
  #E{
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    height:390px;
    width:350px;
    margin:5px;
    overflow: visible;
  }

  #D{
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    height:750px;
    width:400px;
    margin:5px;

  }

  #D #F{
    border:1px solid rgb(0, 0, 0);
    border-radius:10px;
    height:300px;
    width:200px;
    margin:5px;
  }


  html {
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  
  h2, h3 {
    text-align:center;
  }
  .x_axis line, .x_axis .domain {
    stroke:gray;
  }
  .axisLabel, .legendLabel {
    font-size:20px;
    fill:gray;
  }
  
  .y_axis line {
    stroke:gray;
    /* stroke-opacity: 0.5; */
    /* stroke-dasharray: 5,10; */
  }
  .y_axis text, .x_axis text {
    fill:gray;
    font-size:1.5em;
  }

  div {
    column-gap: 5px;
  }

  select{
    width: 150px; 
  }
  
